.ag-theme-quartz .header-center {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.ag-header-cell-label {
 justify-content: center;
}


/* style.css */

/* Para dispositivos móveis */
@media (max-width: 768px) {
    .ag-theme-quartz .ag-row {
        background-color: purple;
        height: fit-content !important;
    }

    .header-center {
        font-size: x-small;
    }

    .ag-theme-quartz .ag-cell {

      display: block;
      padding: 0px;
      font-size: smaller;
      box-sizing: border-box;
    }

  }




