.ag-theme-quartz .header-center {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.ag-header-cell-label {
 justify-content: center;
}


.ag-icon-filter {display: none;}

/* Para dispositivos móveis */
@media (max-width: 768px) {
    /*
    .ag-theme-quartz .ag-row {

    }
    */

    .header-center {
        font-size: x-small;
    }

    .ag-theme-quartz .ag-cell {
      display: block;
      padding: 0px;
      font-size: x-small;
      box-sizing: border-box;
    }

    .ag-theme-quartz .ag-paging-panel {
        font-size: 9px; /* Tamanho desejado */
    }
}




