.custom-step-size {
    width: 1rem; /* Valor customizado */
    height: 1rem; /* Valor customizado */
}

.wizard-icon-container {
    color:  yellow;
    background-color: yellow;
    width: 2rem; /* Valor customizado */
    height: 2rem;
}