.custom-step-size {
    width: 1rem; /* Valor customizado */
    height: 1rem; /* Valor customizado */
}
/*wizard-icon-circle */
.wizard-icon-container {
    color:  yellow;
    background-color: yellow;
    width: 12px; /* Valor customizado */
    height: 12px;
}

.wizard-icon-circle {
    color:  green;
    background-color: yellow;
}